.row{
    background-color: white;
    padding: 10px;
    margin: 10px;
}


.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

h1{
    font: size 2rem;
    line-height:1.3em;
}

body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:1.2 rem;
    line-height:1.6em;
    text-align: justify;
    background: url("/img/FondoP.jpg") no-repeat fixed;
    background-size: cover;
    position: relative;
    background-position: center;
    backface-visibility: 50%;
    -webkit-backface-visibility: 50%;
    color: rgb(0, 0, 0);
}



#principalheader{
    background-color: #655ce9;
    color: rgb(0, 0, 0); 
    padding: 0.3rem 0.3rem;
    position:fixed;
    left:0;
    top:0;
    right:0;
}

#principalheader a{
    text-decoration: none;
    color: black;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.per{
    display: block;
    height: 50px;
    float: left;
    line-height: 150%;
}

div span .fa-burger{
    display: none;
    font-size: 0%;
}

.fa-solid{
    margin: 5px;
    font-size: 13px;
}

.naveg ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
    .naveg ul li{
        display: inline-block;
    } 
        .naveg ul li a{
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.4s linear;
            border-radius: 5px;
}
            .naveg ul li a:hover {
                background: white;
            }

.main{
    padding-top: 6rem;
}

@media screen and (max-width: 907px) {
    div span .fa-burger{
        display: block;
        font-size: 180%;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }
    .naveg{
        width: 100%;
        margin-top: 0;
    }
        .naveg ul{
            display: none;
        }
        .naveg ul.show{
            display: block;
        }
        .naveg ul li{
        display: block;
        } 
            .naveg ul li a{
                display: block;
                padding: 0.5rem 0;
                transition: all 0.4s linear;
                border-radius: 5px;
            }
                .naveg ul li a:hover {
                    background: white;
                }
}